Flask==3.0.0
requests==2.31.0
python-dotenv==1.0.0
gunicorn==21.2.0
werkzeug==3.0.1
opencv-python-headless==4.9.0
roboflow==1.1.20
supervision==0.13.0
pandas==2.1.4
uuid==1.30
InferenceSDK==1.0.3
sqlite3==4.0.0